.bottom-menu-item {
    font-family: Inter;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: #022c22;
    color: #ccc;

    transition: 200ms ease-in-out background-color,
        200ms ease-in-out color;
    border-right: 1px solid #ddd;
}

.bottom-menu-item:last-child {
    border-right: none;
}

.bottom-menu-item:hover {
    background-color: #065f46;
    color: white;
    text-decoration: underline;
}

.bottom-menu-item[data-active="true"] {
    background-color: white;
    border-top: 1px solid #475569;
    border-right: none;
    color: black;
}

.bottom-menu-item[data-active="true"]:hover {
    background-color: #ddd;
}
