
.form__input {
    display: flex;
    flex-direction: column;
    font-family: Inter;
}

.form__input > input, .form__input > select, .form__input > textarea {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    transition: 200ms ease-in-out border-bottom-color; 
}

.form__input[data-disabled="disabled"] > input, .form__input[data-disabled="disabled"] > select, .form__input[data-disabled="disabled"] > textarea {
    border-bottom-color: #707070;
    background-color: rgb(235, 235, 235);
}

.form__input > input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.form__input > span {
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: x-small;
}

.list__item {
    margin-left: 1rem;
}

.form__input--submit {
    color: white;
    background-color: #022c22;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    display: initial;
    transition: 200ms ease-in-out background-color;
}

.form__input--submit:hover {
    background-color: #065f46;
}
