
.form__input {
    display: flex;
    flex-direction: column;
    font-family: Inter;
}

.form__input > input, .form__input > select, .form__input > textarea {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    transition: 200ms ease-in-out border-bottom-color; 
}

.form__input[data-disabled="disabled"] > input, .form__input[data-disabled="disabled"] > select, .form__input[data-disabled="disabled"] > textarea {
    border-bottom-color: #707070;
    background-color: rgb(235, 235, 235);
}

.form__input > input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.form__input > span {
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: x-small;
}

.list__item {
    margin-left: 1rem;
}

.form__input--submit {
    color: white;
    background-color: #022c22;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    display: initial;
    transition: 200ms ease-in-out background-color;
}

.form__input--submit:hover {
    background-color: #065f46;
}

.form__input--file > input {
    display: none;
}

.form__input--file {
    aspect-ratio: 1 / 1;
    border: 1px solid #e0e0e0;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.form__input--file:active {
    border-color: black;
}

.form__input--file > span {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateX(-50%);
    writing-mode: sideways-lr;
    font-family: Inter, sans-serif;
    font-size: x-small;
    text-transform: uppercase;
}

.form__input--file > div {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.form__input--file > div > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
