<%- include('./templates/short-header.ejs') %>

<div class="
w-full

">
    <div class="flex flex-col">

    </div>
    <div>
        <a href="/app/feed">Para ti</a>
        <a href="/app/store">Tienda</a>
        <a href="/app/account">Cuenta</a>
    </div>
</div>

<%- include('./templates/footer.ejs') %>