<%- include('./templates/short-header.ejs') %>

<link rel="stylesheet" href="/css/form.css">
<div class="
w-full
h-fit
py-16
flex
flex-col
items-center
justify-center
bg-white
px-48
relative
shadow-2xl
"
>
    <img src="/assets/login--blob-1.png" alt="" class="absolute left-0 bottom-0 h-3/4">
    <img src="/assets/login--blob-2.png" alt="" class="absolute right-0 top-0 h-3/4">
    <h1 class="
    w-full
    font-krona
    text-6xl
    text-left
    ">Iniciar sesión</h1>
    <p class="
    w-full
    text-left
    font-inter
    text-2xl
    mb-16
    ">
        Ingresa tus datos para entrar a tu cuenta
    </p>
    <div class="
    grid
    grid-cols-2
    gap-4
    isolate
    ">

        <form action="/app/login" method="post" class="flex flex-col justify-between">
            <section class="
            space-y-12
            mb-auto
            ">
                <label for="usernameInput" class="form__input">
                    <span>
                        Nombre de usuario
                    </span>
                    <input type="text" name="username" id="usernameInput" autocomplete="username" placeholder="Usuario de ejemplo" required maxlength="20">
                </label>
                <label for="passwordInput" class="form__input">
                    <span>
                        Contraseña
                    </span>
                    <input type="password" name="password" id="passwordInput" autocomplete="current-password" placeholder="*****" required maxlength="20">
                </label>
            </section>
            <div class="space-y-6">
                <button type="submit" class="form__input--submit">Iniciar sesión</button>
                <p class="text-center">¿No tienes una cuenta? <a href="/app/signup" class="link">Regístrate</a></p>
            </div>
        </form>
        <div class="w-full">
            <img src="/assets/todoist-image.jpg" alt="" srcset="" class="max-w-full max-h-full">
        </div>
    </div>
</div>

<%- include('./templates/footer/footer.ejs') %>