<%- include('./templates/short-header.ejs') %>


<link rel="stylesheet" href="/css/form.css">
<div class="
w-full
h-fit
py-16
flex
flex-col
items-center
justify-center
bg-white
px-48
shadow-2xl
relative
">
    <img src="/assets/sign-up--blob-1.png" alt="" class="absolute top-0 right-0 h-3/4">
    <img src="/assets/sign-up--blob-2.png" alt="" class="absolute bottom-0 left-0 h-3/4">

    <h1 class="
    font-krona
    text-6xl
    w-full
    text-left
    ">Regístrate</h1>
    <p class="
    w-full
    text-left
    font-inter
    text-2xl
    mb-16
    ">
        Crea una nueva cuenta
    </p>
    <form action="/app/signup" method="post" class="
        grid
        grid-cols-2
        bg-white
        gap-4
        gap-y-12
        w-full
        isolate
        ">
            <label for="fullNameInput" class="form__input">
                <span>
                    Nombre completo
                </span>
                <input type="text" name="fullName" id="fullNameInput" autocomplete="name" required placeholder="Juan Pérez Pérez" maxlength="100">
            </label>
            <label for="genderInput" class="form__input">
                <span>
                    Género
                </span>
                <select name="gender" id="genderInput" required>
                    <option value="0">Masculino</option>
                    <option value="0">Femenino</option>
                    <option value="0">Otro</option>
                </select>
            </label>
            <label for="emailInput" class="form__input">
                <span>
                    Correo electrónico
                </span>
                <input type="email" name="email" id="emailInput" autocomplete="email" required placeholder="correo@ejemplo.com" maxlength="60">
            </label>
            <label for="usernameInput" class="form__input">
                <span>
                    Nombre de usuario
                </span>
                <input type="text" name="username" id="usernameInput" autocomplete="username" required placeholder="usuario123" maxlength="20">
            </label>
            <label for="passwordInput" class="form__input">
                <span>
                    Contraseña
                </span>
                <input type="password" name="password" id="passwordInput" autocomplete="current-password" required maxlength="20">
            </label>
            <div class="col-span-2 space-y-6">
                <button type="submit" class="form__input--submit">Regístrate</button>
                <p class="text-center">¿Ya tienes una cuenta? <a href="/app/login" class="link">Inicia sesión</a></p>
            </div>
    </form>
</div>



<%- include('./templates/footer/footer.ejs') %>