<%- include('./templates/short-header.ejs') %>

<section class="bg-white min-h-screen">
    <%- include("./templates/bottom-menu.ejs"); %>
    <div class="pb-[4rem]">
        <div class="px-48 py-12">

            <h1 class="text-6xl font-krona">
                Próximamente <br>
                :&rpar;
            </h1>

        </div>
    </div>
</section>

<%- include('./templates/footer/footer.ejs') %>