</main>


<link rel="stylesheet" href="/css/footer.css">

<footer class="
w-full
px-48
bg-emerald-950
relative
"
>
    <img class="absolute max-w-full max-h-full z-0 left-0 bottom-0" src="/assets/footer-blob-1.svg" alt="Blob">
    <img class="absolute max-w-full max-h-full z-0 right-0 top-0" src="/assets/footer-blob-2.svg" alt="Blob">
    <img class="absolute max-w-full max-h-full z-0" src="/assets/footer-blob-3.svg" alt="Blob">

    <section class="
    grid
    grid-cols-3
    grid-rows-1
    gap-8
    py-24
    isolate
    ">
        <img src="/assets/dart-logo--white.svg" alt="Logo de dart">
        <div>
            <h1 class="label-text">
                Quiénes somos
            </h1>
            <p class="white-text">
                &copy; 2024 Dart
            </p>
            <p class="white-text">
                La startup mexicana de innovación tecnológica
            </p>
        </div>
        <div>
            <h1 class="label-text">
                Misión
            </h1>
            <p class="white-text">
                Nuestra misión es transformar el futuro con soluciones tecnológicas innovadoras que busquen mejorar la vida, liderando el progreso social y económico para generar un impacto positivo
            </p>
            <h1 class="label-text">
                Visión
            </h1>
            <p class="white-text">
                Ser líderes en innovación tecnológica, transformando  y mejorando la vida con soluciones sostenibles y creativas.
            </p>
        </div>
        <div>
            <h1 class="label-text">Ubicación</h1>
            <p class="white-text">
                Av. La Palma No. 125, Vista Hermosa, 76800, San Juan del Río, Querétaro
            </p>
        </div>
        <iframe class="col-span-2 w-full h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.3686561527434!2d-100.0126653260112!3d20.367684310158083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d30c6707079ad9%3A0x16daa5dc56c8c592!2sUniversidad%20Tecnol%C3%B3gica%20de%20San%20Juan%20del%20R%C3%ADo!5e0!3m2!1sen!2smx!4v1719552583307!5m2!1sen!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    
</footer>

<link rel="stylesheet" href="/css/form.css">
<section class="
px-48
py-24
flex
flex-col
gap-4
font-[Inter]
">
    <h1 class="font-['Krona_One'] text-4xl">Cuéntanos sobre ti</h1>
    <hr class="bg-black h-[1px] border-none">
    <p>
        Nos es de gran ayuda si los usuarios de nuestro(s) producto(s) nos comparten información sobre sus hábitos de consumo
        y su conocimiento de lo que están usando. ¿Te interesa ayudarnos a responder una encuesta?
    </p>
    <form action="/" method="post" class="
    bg-white
    p-8
    space-y-4
    ">
        <div class="
        grid
        grid-cols-2
        gap-16
        ">
            <label class="form__input">
                <span>Nombre completo</span>
                <input type="text" name="nombre" id="" placeholder="Juan Pérez Pérez">
            </label>
            <label class="form__input">
                <span>Correo electrónico</span>
                <input type="email" name="correo" placeholder="correo@ejemplo.com">
            </label>
        </div>
        <ol class="space-y-4 w-4/5">
            <li>
                <span>¿Qué tanto conoce sobre el reciclaje de plásticos, específicamente de botellas de PET?</span>
                <ol type="a">
                    <li class="list__item">
                        <label>
                            <input type="radio" name="conocimientoDeReciclaje" value="mucho">
                            <span>Mucho</span>
                        </label>

                    </li>
                    <li class="list__item">
                        <label>
                            <input type="radio" name="conocimientoDeReciclaje" value="algo" checked>
                            <span>Algo</span>
                        </label>
                    </li>
                    <li class="list__item">
                        <label>
                            <input type="radio" name="conocimientoDeReciclaje" value="poco">
                            <span>Poco</span>
                        </label>
                    </li>
                    <li class="list__item">
                        <label>
                            <input type="radio" name="conocimientoDeReciclaje" value="nada">
                            <span>Nada</span>
                        </label>
                    </li>
                </ol>
            </li>
            <li>
                <span>¿Sabía con anterioridad que las botellas de PET recicladas pueden ser utilizadas para producir filamento para impresoras 3D?</span>
                <ol type="a">
                    <li class="list__item">
                        <label>
                            <input type="radio" name="conocimientoDeFilamento" value="si">
                            <span>Sí</span>
                        </label>
                    </li>
                    <li class="list__item">
                        <label>
                            <input type="radio" name="conocimientoDeFilamento" value="no" checked>
                            <span>No</span>
                        </label>
                    </li>
                </ol>
            </li>
        </ol>

        <div class="
        grid
        grid-cols-2
        grid-gap-16
        ">
            <input type="submit" value="Enviar" class="form__input--submit">
        </div>
    </form>
</section>

</body>
</html>