</main>


<link rel="stylesheet" href="/css/footer.css">

<footer class="
w-full
px-48
bg-emerald-950
relative
"
>
    <img class="absolute max-w-full max-h-full z-0 left-0 bottom-0" src="/assets/footer-blob-1.svg" alt="Blob">
    <img class="absolute max-w-full max-h-full z-0 right-0 top-0" src="/assets/footer-blob-2.svg" alt="Blob">
    <img class="absolute max-w-full max-h-full z-0" src="/assets/footer-blob-3.svg" alt="Blob">

    <div class="
    grid
    grid-cols-3
    grid-rows-1
    gap-8
    py-24
    isolate
    ">
        <img src="/assets/dart-logo--white.svg" alt="Logo de dart">
        <div>
            <h1 class="label-text">
                Quiénes somos
            </h1>
            <p class="white-text">
                &copy; 2024 Dart
            </p>
            <p class="white-text">
                La startup mexicana de innovación tecnológica
            </p>
        </div>
        <div>
            <h1 class="label-text">
                Misión
            </h1>
            <p class="white-text">
                Nuestra misión es transformar el futuro con soluciones tecnológicas innovadoras que busquen mejorar la vida, liderando el progreso social y económico para generar un impacto positivo
            </p>
            <h1 class="label-text">
                Visión
            </h1>
            <p class="white-text">
                Ser líderes en innovación tecnológica, transformando  y mejorando la vida con soluciones sostenibles y creativas.
            </p>
        </div>
        <div>
            <h1 class="label-text">Ubicación</h1>
            <p class="white-text">
                Av. La Palma No. 125, Vista Hermosa, 76800, San Juan del Río, Querétaro
            </p>
        </div>
        <iframe class="col-span-2 w-full h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.3686561527434!2d-100.0126653260112!3d20.367684310158083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d30c6707079ad9%3A0x16daa5dc56c8c592!2sUniversidad%20Tecnol%C3%B3gica%20de%20San%20Juan%20del%20R%C3%ADo!5e0!3m2!1sen!2smx!4v1719552583307!5m2!1sen!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


</footer>

</body>
</html>