<%- include('./head.ejs'); %>

<body class="bg-emerald-950">

    <header class="
    w-full
    grid
    grid-cols-1
    grid-rows-[1fr_2fr]
    min-h-screen
    font-['Krona_One']
    uppercase
    bg-white
    ">
        <div class="
        bg-emerald-950 px-48
        relative
        before:absolute
        before:inset-0
        before:bg-[url('/assets/header-lines.svg')]
        before:bg-cover
        before:opacity-40
        ">

        <%- include('./navbar.ejs'); %>


        </div>
        <div class="
        px-48
        relative
        ">
            <div class="
            absolute
            top-[-10px]
            left-1/2
            -translate-x-1/2
            flex
            flex-col
            items-center
            z-20
            ">
                <a class="
                absolute
                bottom-full
                left-1/2
                -translate-x-1/2
                translate-y-5
                text-6xl
                text-white
                "
                >
                    solucionemos
                </a>
                <a class="
                text-7xl
                text-emerald-950
                text-center
                w-max
                "
                >
                    el problema del
                </a>
                <a class="
                text-[12rem]
                text-black
                text-center
                w-max
                ">
                    plástico
                </a>
            </div>

            <img src="/assets/portada--botella-de-plástico-1.png" alt="" class="absolute left-0 scale-75 z-10">
            <img src="/assets/portada--botella-de-plástico-2.png" alt="" class="absolute right-0 top-1/2 -translate-y-1/2 scale-[0.7] ">
        </div>
    </header>
    <main>
