<nav class="
flex
h-24
p-4
items-center
gap-12
">
    <ul class="
    contents
    ">
        <li class="header__menu-item">
            <a href="/">Inicio</a>
        </li>
        <li class="header__menu-item">
            <a href="/about-us">Nuestro equipo</a>
        </li>
        <li class="header__menu-item">
            <a href="/app">Cuenta</a>
        </li>
    </ul>
    <img src="/assets/dart-logo--white.svg" alt="Logo de Dart" class="ml-auto max-h-full">
</nav>