<link rel="stylesheet" href="/css/form.css">
<section class="
px-48
py-24
flex
flex-col
gap-4
font-[Inter]
bg-white
">
    <h1 class="font-['Krona_One'] text-4xl">Cuéntanos sobre ti</h1>
    <hr class="bg-black h-[1px] border-none">
    <p>
        Nos es de gran ayuda si los usuarios de nuestro(s) producto(s) nos comparten información sobre sus hábitos de consumo
        y su conocimiento de lo que están usando. ¿Te interesa ayudarnos a responder una encuesta?
    </p>
    <form action="/" method="post" class="
    bg-white
    p-8
    space-y-4
    ">
        <div class="
        grid
        grid-cols-2
        gap-16
        ">
            <label class="form__input">
                <span>Nombre completo</span>
                <input type="text" name="nombre" id="" placeholder="Juan Pérez Pérez">
            </label>
            <label class="form__input">
                <span>Correo electrónico</span>
                <input type="email" name="correo" placeholder="correo@ejemplo.com">
            </label>
        </div>
        <ol class="space-y-4 w-4/5">
            <li>
                <span>¿Qué tanto conoce sobre el reciclaje de plásticos, específicamente de botellas de PET?</span>
                <ol type="a">
                    <li class="list__item">
                        <label>
                            <input type="radio" name="conocimientoDeReciclaje" value="mucho">
                            <span>Mucho</span>
                        </label>

                    </li>
                    <li class="list__item">
                        <label>
                            <input type="radio" name="conocimientoDeReciclaje" value="algo" checked>
                            <span>Algo</span>
                        </label>
                    </li>
                    <li class="list__item">
                        <label>
                            <input type="radio" name="conocimientoDeReciclaje" value="poco">
                            <span>Poco</span>
                        </label>
                    </li>
                    <li class="list__item">
                        <label>
                            <input type="radio" name="conocimientoDeReciclaje" value="nada">
                            <span>Nada</span>
                        </label>
                    </li>
                </ol>
            </li>
            <li>
                <span>¿Sabía con anterioridad que las botellas de PET recicladas pueden ser utilizadas para producir filamento para impresoras 3D?</span>
                <ol type="a">
                    <li class="list__item">
                        <label>
                            <input type="radio" name="conocimientoDeFilamento" value="si">
                            <span>Sí</span>
                        </label>
                    </li>
                    <li class="list__item">
                        <label>
                            <input type="radio" name="conocimientoDeFilamento" value="no" checked>
                            <span>No</span>
                        </label>
                    </li>
                </ol>
            </li>
        </ol>

        <div class="
        grid
        grid-cols-2
        grid-gap-16
        ">
            <input type="submit" value="Enviar" class="form__input--submit">
        </div>
    </form>
</section>
